/.ipynb_checkpoints
/.pytest_cache
/.vscode
/Annotation 2020-04-08 202532.jpg
/Annotation 2020-04-08 202802.jpg
/Annotation 2020-04-09 065335.jpg
/class.py
/demo.c
/demo.cpp
/demo.exe
/demo.jl
/fundamentals.py
/hello.py
/mbox-short.txt
/newstuff.cpp
/newstuff.exe
/test.ipynb
/Untitled.ipynb
/Untitled1.ipynb